@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;1,200;1,300&family=Work+Sans&display=swap');

/* font-family: 'Noto Sans', sans-serif;
font-family: 'Work Sans', sans-serif; */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #BFBB78;
    font-family: 'Noto Sans', sans-serif
}
h2{
    color: #253C16;
    text-shadow: 0 0 2px rgba(37, 38, 22,.2);
    font-size: 4em;
    font-family: 'Work Sans', sans-serif;
}

h4{
    color: #253C16;
    font-size: 2em;
    font-family: 'Work Sans', sans-serif;
}

p{
    color:#592202;
    font-size: 15px;
}
.menu-bar, .sns-icon{
    font-size: 2em;
    margin: 0 2em;
}
button{
    color:#FAF8DC;
    font-size: 1em;
    background:#253C16;
    border-radius: 20px;
    border: none;
    width: 150px;
    height: 60px;
    text-align: center;
    /* padding:18px; */
    margin: 30px;
}
button:hover{
    color:#BF8F73;
    font-size: 1.04em;
    background:#F2E85E;
    opacity: .6;
    transition: 300ms ease;
}
.hover-img:hover{
    opacity: .8;
    transition: 300ms ease;
}

/* .nav-link li a {
    transition: 300ms ease;
 } */
li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:visited{
    color: #FAF8DC;
}
a:hover{
    color:#BF8F73;
    transition: 200ms ease;
}

.contact-icon{
    color: #253C16;
    display: inline-block;   
}
.sns-icon{
    color:#FAF8DC;
}

.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}
/* section{
    margin: 100px 0;
} */
.header-box{
    margin: 50px 0;
    /* height: 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 2em;
}
.menu-bar{
    color:#592202;
    margin: 2em;
}
.text-gr{
    color:#253C16;
}

/* section 2 ad */
.ad-wrapper{
    position: relative;
    height: 700px;
    width: 100%;
}
#cow{
    z-index: -1;
    background-image: url(../images/cow2.jpg);
    height:100%;
    opacity: .6;
    position:absolute;
    top:0;
    left:0;
    background-size: cover;
    width: 100%;
}
#main-phrase{
    width: 40%;
    height: auto;
    float: left;
    margin: 100px 5%;
    /* opacity: .5; */
    animation-name: change;
    animation-duration: 10s;
    /* animation-delay: 500ms; */
    animation-iteration-count: 3;
}
#main-text{
    width: 40%;
    font-size: 20px;
    float: right;
    margin: 100px 5%;
    padding: 40px;
    /* background: #bfbb788a; */
    background: #faf8dc5c;
    border-radius: 20px;
}
/* .ad .content .text-br{
} */
.clear{
    clear: both;
}
/* section 3 product */
.product{
    background: #FAF8DC;
}
.product a{
    color:#592202;
}
.product a:visited{
    color:#592202;
}
.product a:hover{
    /* color:#BF8F73; */
    font-size: 18px;
    text-shadow: 0 0 1px rgba(191, 143, 115,1);
    transition: 200ms ease;
}
.product-wrapper{
    margin: 100px 5%;
    overflow: hidden;
    display: grid;
    gap: 10px;
    grid-template-areas: 'image1 image2 image3'
                         'text1 text2 text3';
}
.product-wrapper img{
    width: 200px;
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 10% 20px 10%;
}
.product-wrapper div{
    text-align: center;
}
.image1{
    grid-area: image1;
}
.image2{
    grid-area: image2;
}
.image3{
    grid-area: image3;
}
.text1{
    grid-area: text1;
}
.text2{
    grid-area: text2;
}
.text3{
    grid-area: text3;
}


/* .product ul{
    display: grid;
}
.product ul li{
    border: 2px solid plum;
}
.product{
}
.item{
    overflow: hidden;
    width: 200px;
    height: 200px;
}
.item-img{
    object-fit: cover;
    width: 100%;
}
.item-name{
    border: 2px solid rgb(160, 221, 194);
    height: 20px;

} */

/* .item :nth-child(1){
    background: url(../yukari-project/images/milk.jpg);
}
.item :nth-child(2){
    background: url(../yukari-project/images/milk.jpg);
}
.item :nth-child(3){
    background: url(../yukari-project/images/milk.jpg);
} */


/* section 4 detail */
.detail{
    overflow: hidden;
    position: relative;
}
.detail .content{
    margin: 100px 0;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#sunset{
    background: url(../images/sunset.jpg);
    z-index: -1;
    height: 100%; 
    opacity: .7;
    top:0;
    left:0;
    background-size: cover;
    position: absolute;
    width: 100%;

}
.detail .text{
    width: 70%;
    background: #faf8dc79;
    border-radius: 20px;
    padding: 30px;
    margin: 0 5% 200px 5%;
}
.detail h2{
    margin: 0 5% 200px 5%;
}
/* section 5 contact */
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.place-list{
    margin: 30px 0;

}
.place-list ul{
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    justify-content: space-evenly;
}
.place-list li{
    margin: 10px;
}
.mycontact h4{
    margin: 30px 0;
}
/* i, .mycontact ul li .text-gr{ */
.mycontact ul i, .mycontact ul p{
    display: inline;
    margin: 15px 10px;
}
.mycontact{
    margin: 30px 0;
}
.mycontact ul{ 
    display: flex;
    flex-direction: column;
}
.sns{
    margin: 40px 0;
}
.sns ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media(min-width:768px){
    #menu-bar{
        display: none;
    }
    .header-box li{
        margin: 10px;
        /* padding:5px; */
    }
    .header-box ul{
        margin: 2em;
        display:flex;
        justify-content: space-evenly;
        /* for container  flex item: align content */
    }
    .contact{
        margin: 80px 0;
        display: grid;
        row-gap: 40px;;
        grid-template-columns: auto 350px 350px auto;
        grid-template-rows: 30px 180px 100px 200px;
    }
    .place-list{
        grid-column: 2/4;
        grid-row: 1/2;
    }
    .contact .btn-contact{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .contact .mycontact{
        grid-column: 3/4;
        grid-row: 2/3;

    }
    .contact .sns{
        grid-column: 2/4;
        grid-row: 3/4;
    }

}
@media(max-width:768px){
    .header-box ul{
        display: none;
    }
    /* .ad .ad-wrapper{
        width: 100%;
    } */
    .ad .content{
        width: 100%;
        display: flex;
        flex-direction: column;

    }
    .ad .content #main-phrase{
        width: 80%;
    }
    .ad .content .text-br{
        width: 70%;
    }
    .product-wrapper img{
        width: 140px;
        height: 140px;
    }    
}
@keyframes change{
    0%{
        opacity: 1;
        color:#253C16;
    }
    50%{
        opacity: .3;
        color:#F2E85E;
        /* font-size: 4.5em; */
        /* width: 60%; */
    }
    100%{
        opacity: 1;
        color:#253C16;
    }
}
/* 
Project Presentation:
    -Introduce yourself
        live in hokkaido. In hokkaido, there are many agricultural product.  But they don't have good website(some has but mostly old). less information.
    -Introduce what your website is all about.
        the farm produces Grass fed Milk and related to grass fed milk products.
        the target of the website: who are interested in health, organic, avoiding genetically modified food, consuming good oil like N3 instead og N6 fatty acid.
    -tour us around the website(wireframe,mockup, prototype, and code)
    -hardest part
    structure of the main page--once I change, I didn't remember what there are
                        So hard to remember all of the structure
    -favorite part
        coloring: especially the button hover
        the accent color: grass-fed cows eat grasses, the taste is different by the season.
            so to feel the season, I put not only the green , but yellow and red.
    -overall experience
        I learnt many things in the class and understood. But there was no experience to put these tequniques by my own.
        Good experience to deal with what I want.






*/